.logo-container {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    width: 100%;
    height: auto;
  }
  
  .bg-dark {
    background-color: #111; /* Use your desired background color */
  }
  