@keyframes fade-right {
    from { opacity: 0; transform: translateX(-100%); }
    to { opacity: 1; transform: translateX(0); }
  }
  
  @keyframes fade-up {
    from { opacity: 0; transform: translateY(100%); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .animate-fade-right {
    animation: fade-right 1s forwards;
  }
  
  .animate-fade-up {
    animation: fade-up 1s forwards;
  }
  
@keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-slide {
    animation: slide 30s linear infinite;
  }
  
  .group:hover .animate-slide {
    animation-play-state: paused;
  }

  @media screen and (max-width: 480px) {
    .animate-slide {
      animation: slide 7s linear infinite;
    }
    
    .group:hover .animate-slide {
      animation-play-state: paused;
    }
  }
