input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  height: 5px;
  background: transparent;
  pointer-events: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid teal;
  border-radius: 20%;
  background: white;
  pointer-events: all;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 20%;
  background: white;
  pointer-events: all;
  cursor: pointer;
}

.min-thumb {
  pointer-events: all;
}

.max-thumb {
  pointer-events: all;
}


/* Customize the appearance of the checkbox */
.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #9F9F9F;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checked {
  background-color: #1E7773; /* Change to your teal color */
  border-color: #1E7773;
}

.checkmark {
  color: white;
  font-size: 14px;
  font-weight: bold;
}
